.floating-title-bar {
    background-color: white;
    color: dimgrey;
    line-height: 1;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: darkgrey 1px solid;
    font-size: large;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}


.floating-title-bar i {
    margin-right: 10px;
    color: #b91e2a;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #333;
}

.btn-light .gray-icon {
    color: #1f1e1e;
}



