.courses-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 100%; /* Ensure that this container takes up the full width of its parent */
}

.padding-top-20 {
    padding-top: 20px;
}


.padding-top-70 {
    padding-top: 70px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}


.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters {
    justify-content: flex-start;
}

.course-nav-bar {
    left: 80px;
}